$white: #fff;

// CUSTOM COLORS
$first-color: #444a59;
$second-color: #d9d9d9;
$thirth-color: #358ed7;
$fourth-color: #f96371;

$background-color: #f8f8f8;

// TEXT
$text-color: $first-color;
$link-color: $first-color;
$highlight-color: $fourth-color;

// BUTTONS
$btn-primary-color: $white;
$btn-hover-color: $first-color;
$btn-active-color: $second-color;

$btn-primary-border: $second-color;